# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Production build outputs
dist/
build/

# Miscellaneous
.DS_Store
*.pem
*.log

# Databases & local ephemeral state (Excluded from Git commits)
database.sqlite*
*.sqlite*
*.db
.pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example
